CRL option soft_crl doesn't check CRL at all, if nextupdate date has passed

According to the documentation on the option soft_crl, the CRL is not used at all when the nextupdate date has passed.
This is wrong I think. Just because a verifying entity can't get hold of the latest CRL doesn't automatically mean the previous revoked certificates should be allowed to be used. They are still revoked even when nextupdate date has passed.

When looking at RFC 5280 section 5.1.2.5 it states that a new CRL will be issued at that (nextupdate) date. It doesn't say that the previous CRL has expired. According to Stackexchange (https://security.stackexchange.com/questions/20958/x-509-crls-next-update) a lot of people treat nextupdate date as en expiry date, but I think it's not an expire date.

My suggestion when using option soft_crl is to use the openssl flag X509_V_FLAG_NO_CHECK_TIME, to verify the certificate and make sure that previously revoked certificates stay revoked.

Hi,

thanks you for the suggestion. I think this is a good idea. I will discuss it internally and will check if some corner cases need some special handing or if the OpenSSL error codes are sufficiently specific to cover cases like e.g. empty or missing CRL files.

bye,
Sumit

Pushed PR: https://github.com/SSSD/sssd/pull/7447

* `master`
    * 4dc96622844a34e952ff54912128c145c131cfe0 - p11_child: enhance 'soft_crl' option
* `sssd-2-9`
    * aa3fbe8cb3ca4270f8f74e7236850f0173971038 - p11_child: enhance 'soft_crl' option
